<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./js/vue.js" defer></script>
    <title>cw1_3145</title>
</head>

<body>
    <div class="container">
        <header>
            <div id="header-template">
                <page-header></page-header>
            </div>
        </header>
        <aside>
            <div id="filter">
                <h1>Filters</h1>
                <select multiple v-model='selectedTopic'>
                    <option v-for='topic in topics'>
                        {{topic}}
                    </option>
                </select>
                <p>Selected topics: {{selectedTopic}}</p>
                <!-- <br> -->
                <select multiple v-model='selectedLocation'>
                    <option v-for="location in locations">{{location}}</option>
                </select>
                <p>Selected location: {{selectedLocation}}</p>
            </div>

        </aside>
        <main>
            <div id="course-loop"></div>
        </main>
    </div>
</body>

</html>